<h1>Recent Robot Jazz</h1>

<% @translators.each do |sound|  %>
<hr>
  <h3 class='white'>
    <%= sound.original_text %>
    <%= link_to "Play it!", translation_path(sound), class: "button tiny round" %>
  </h3>
<% end %>