<h1>Cool Robot Jazz</h1>
<%= link_to "Click here to jazz your pants off" new_translation_path class: "btn btn-info" %>
<% @translator.each do |sound|  %>
<hr>
  <h3>
    <%= sound.original_text %> 
  </h3>
<% end %>